.card {
    position: relative;
    /* height and width makes the cards count to 3 in  a row */
    width: 400px;
    height: 350px;
    background-color: white;
    color: #070066;
    border: 4px solid #070066;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* text-align automatically aligned the images idk why */
    text-align: center;
    margin: 15px;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #f2f2f2; */
    background-color: #070066;
    border: 4px solid white;
    border-radius: 10px;
    text-align: start;
    color: white;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
    transform: rotateX(0deg);
}

.card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    color: white;
    font-weight: 700;
}

.card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    color: black;
    font-weight: bold;
    /* line-height: 1.4; */
}